# Auto detect text files and perform LF normalization
* text=auto  eol=lf

# The above will handle all files NOT found below

# Basic .gitattributes for a python repo.
*.py     text eol=lf diff=python

# Exclude files from exporting
.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
